.navbar{
    box-shadow: 2px 2px rgb(255, 255, 255);
    height: 10vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99;
}

.cartQuantity{
    position: absolute;
    height: 30px;
    width: 30px;
    font-weight: 500;
    border-radius: 100%;
    right: 5px;
    top: 9px;
    cursor: pointer;
}
